:root {
  --theme-color: #3739b8;
  --text-color: #2c3e50;
  --bg-color: #fff;
  --bg-color-light: rgb(204, 109, 109);
  --bg-color-active: #f8f8f8;
  --bg-color-back: #f8f8f8;
  --bg-color-float: #fff;
  --bg-color-blur: rgba(255, 255, 255, 0.9);
  --bg-color-float-blur: rgba(255, 255, 255, 0.9);
  --border-color: #eaecef;
  --box-shadow: #f0f1f2;
  --card-shadow: rgba(0, 0, 0, 0.15);
  --black: #000;
  --dark-grey: #666;
  --light-grey: #999;
  --white: #fff;
  --grey3: #333;
  --grey12: #bbb;
  --grey14: #eee;
  --navbar-mobile-height: 3.25rem;
  --navbar-mobile-horizontal-padding: 1rem;
  --navbar-mobile-vertical-padding: 0.5rem;
  --sidebar-mobile-width: 16rem;
  --content-width: 740px;
  --home-page-width: 1160px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif;
  --font-family-fancy: Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif;
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --line-numbers-width: 2.5rem;
  --color-transition: 0.3s ease;
  --transform-transition: 0.3s ease;
  --text-color-light: #3a5169;
  --text-color-lighter: #476582;
  --text-color-bright: #6a8bad;
  --theme-color-dark: #389e70;
  --theme-color-light: #4abf8a;
  --theme-color-mask: rgba(62, 175, 124, 0.15);
  --badge-tip-color: #42b983;
  --badge-warning-color: #f4cd00;
  --badge-danger-color: #f55;
  --badge-info-color: #0295ff;
  --badge-note-color: #666;
  --external-link-icon-color: #aaa;
  --nprogress-color: #29d;
  --nprogress-z-index: 1031;
  --balloon-border-radius: 2px;
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-text-color: #fff;
  --balloon-font-size: 12px;
  --balloon-move: 4px;
  --info-title-color: #193c47;
  --info-bg-color: #eef9fd;
  --info-border-color: #4cb3d4;
  --note-title-color: #474748;
  --note-bg-color: #fdfdfe;
  --note-border-color: #d4d5d8;
  --tip-title-color: #003100;
  --tip-bg-color: #e6f6e6;
  --tip-border-color: #009400;
  --warning-title-color: #4d3800;
  --warning-bg-color: #fff8e6;
  --warning-border-color: #e6a700;
  --danger-title-color: #4b1113;
  --danger-bg-color: #ffebec;
  --danger-border-color: #e13238;
  --detail-bg-color: #eee;
  --detail-text-color: inherit;
  --c-brand: var(--theme-color);
  --c-brand-light: var(--theme-color-light);
  --c-text: var(--text-color);
  --c-bg: var(--bg-color);
  --c-bg-light: var(--bg-color-light);
  --c-border: var(--border-color);
  --navbar-bg-color: var(--bg-color-float-blur);
  --sidebar-bg-color: var(--bg-color-blur);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family);
  --code-hl-bg-color: var(--code-highlight-line-color);
  --code-ln-color: var(--code-line-color);
  --code-ln-wrapper-width: var(--line-numbers-width);
  --code-tabs-nav-text-color: var(--text-color);
  --code-tabs-nav-bg-color: var(--code-border-color);
  --code-tabs-nav-hover-color: var(--code-highlight-line-color);
  --navbar-height: var(--navbar-mobile-height);
  --navbar-vertical-padding: var(--navbar-mobile-vertical-padding);
  --navbar-horizontal-padding: var(--navbar-mobile-horizontal-padding);
  --sidebar-width: var(--sidebar-mobile-width);
  --code-color: #383a42;
  --code-line-color: rgba(56, 58, 66, 0.67);
  --code-bg-color: #ecf4fa;
  --code-border-color: #c3def3;
  --code-highlight-line-color: #d8e9f6;
}
h1{
  color: #009400;
}
h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}