---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import GithubCalendar from '@/components/ysevn/GithubClander'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl">你好👋</CardTitle>
          <CardDescription
            >Hello!<span class="font-semibold">..This is lucky</span
            ></CardDescription
          >
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm text-muted-foreground">
            这是一个博客网站，在Astro框架上构建。我会写一些奇奇怪怪的东西。
          </p>
          <br/>
          <p class="mb-2 text-sm text-muted-foreground justify-center items-center text-center">
          一切发生的事情都有利于我。
        </p>
        </CardContent>
      </Card>
    </section>
    <div
    class="has-overlay relative flex aspect-square items-center justify-center overflow-hidden [grid-area:f] hover:bg-none sm:aspect-[2.1/1] xl:aspect-auto "
  >
    <div
      class="overlay absolute inset-0 z-[1] size-full rounded-3xl  bg-cover bg-center bg-no-repeat transition-opacity duration-200  xl:opacity-0 border-2 border-solid border-white/10 hover:opacity-100"
    >
    </div>
    <GithubCalendar username="bonheur831" client:load />
  </div>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">最近的...</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          查看所有文章 <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
